<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Photoalbum</title>
	<link rel="stylesheet" th:href="@{/form.css}"
</head>
<body th:object="${category}">
	<h2>Create a new category</h2>
	
	<div th:insert="fragments :: error()"></div>
	
    <div th:insert="fragments :: category-form('/categories/create', 'POST', 'CREATE')"></div>
	
    <div class= back-button>
        <a href="/categories">Go back to index</a>
    </div>
</body>
</html>
