<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Categories</title>
</head>
<body>
	<h2>My photoalbum</h2>
	<a href="/categories/create">Add a new category</a>
	<br>
	<br>
	<br>
	<a href="/">Back to photos</a>
    <ul>
		<li 
			th:each="category : ${categories}"
			th:object="${category}"
			>
			[[*{name}]]
			<a th:href="@{/categories/edit/{id} (id = *{id})}">Edit</a>
			<a th:href="@{/categories/delete/{id} (id = *{id})}">Delete</a>
			
		</li>
	</ul>
</body>
</html>
