<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Photoalbum</title>
	<link rel="stylesheet" th:href="@{/show.css}">
</head>
<body th:object="${photo}">
	<h2 th:text="*{title}"></h2>
	<div class="container">

		<h5 th:text="|#*{tag}|"></h5>

		
		<div class="category-container">
			
			<span 
			th:each="category : ${categories}"
			th:object="${category}"
			th:text="| *{name.toUpperCase()} |"></span>
		</div>
			
		
		<div class="main-element-container">
			<div class="img-container">
				<img th:src="*{imageUrl}">
			</div>
			<div class="comments-container">
				<h4>
					Comments
				</h4>
				<ul>
					<li th:each="comment : ${comments}" th:text="${comment.text}">
						
					</li>
				</ul>
			</div>
		</div>
		
		<p th:text="*{description}"></p>
		
		

		<div class="navigation-buttons">
			<a th:href="@{/edit/{id} (id = *{id})}" class="edit-link">Edit</a>
			<a th:href="@{/delete/{id} (id = *{id})}" class="delete-link">Delete</a>
		</div>
		
		
		<div class= back-button>
			<a href="/">Back</a>
		</div>

	</div>
</body>
</html>
