@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Nunito:wght@200;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: Nunito, sans-serif;
}

body {
    background-color: #111;
}

h2 {
    text-align: center;
    font-size: 4rem;
    margin-block: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 217, 112);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.75rem;
}

form .checkbox-container {
    display: flex;
    gap: 2rem;
}

form input[type="text"],
textarea {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid whitesmoke;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}

form button[type="submit"] {
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.75rem;
    transition: .3s;
}
form button[type="submit"]:hover {
    color: rgb(255, 217, 112);
}

div.back-button {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}

div.back-button a {
    text-decoration: none;
    transition: .3s;
}

div.back-button a:hover {
    color: rgb(255, 99, 99);
}

.error-section {
    text-align: center;
    margin-bottom: 3rem;
}

.error-section * {
    color: rgb(255, 99, 99);
}